<h1>List</h1>
<% #url = movie.url %>

  <div class="cards">
   <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(url)">
        <%= link_to list.name, list_path(list)%>
      </div>
      <% end %>
  </div>

<%= link_to "Add a list", "lists/new" %>
